//  herosection -------------- //

.ap-heroscreen {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.ap-heroscreen__info {
    width: 49%;
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 75, 133, 0.595) 0%, rgba(18, 56, 103, 0.85) 100%);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.ap-heroscreen__infowrap {
    h1 {
        margin-bottom: 24px;
        color: #FFFFFF;

    }

    .linetext {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        &:before {
            content: '';
            margin-right: 12px;
            width: 80px;
            height: 4px;
            display: inline-block;
            vertical-align: middle;
            background: #FFFFFF;
        }

    }

    p {
        max-width: 500px;
        color: #FFFFFF;
    }
}


// form section ----------- //

.ap-form {
    padding: 60px 0 0;
}

.ap-form form {

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #1C4B85;
        position: relative;
        padding-left: 88px;
        margin-bottom: 43px;

        span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 68px;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #D4DCE7;
            border-radius: 200px;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            color: #1C4B85;
        }
    }

    button {
        border: none;
        outline: none;
        margin-top: 32px;
        cursor: pointer;

        &:disabled {
            background: #D4DCE7;
            pointer-events: none;
        }
    }
}

.ap-form .inputblock {
    padding-left: 100px;
    margin-bottom: 43px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 58px;

        &:before {
            border-left: 2px dashed #D4DCE7;
        }
    }

    >p {
        color: rgba(42, 42, 42, 0.75);
        margin-bottom: 24px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 34px;
        top: 0;
        height: 100%;
        width: 1px;
        border-left: 2px solid #D4DCE7;
    }

    .select2.select2-container.select2-container--default {
        width: 488px !important;
    }

    .inputfield {

        &+.inputfield {
            margin-top: 24px;
        }

        &.textarea {
            align-items: start;

            p {
                max-width: 300px;
            }
        }

        &.checkboxes {
            justify-content: start;

            label+label {
                margin-left: 40px;
            }
        }

        &.upload-popup {
            position: relative;

            input {
                pointer-events: none;
            }

            .upload-btn {
                position: absolute;
                right: 12px;
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: .3s;

                &:hover {
                    opacity: 0.7;
                }
            }

            .delete-btn {
                position: absolute;
                right: 48px;
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: .3s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &.phone {
            justify-content: flex-end;

            p {
                margin: 0 auto 0 0;
            }

            input {
                max-width: 346px;
                border-radius: 0 2px 2px 0;
                border-left: none;
            }

            .select2.select2-container.select2-container--default {
                width: 142px !important;
            }

            .select2-container--default .select2-selection--single {
                background: #fff;
            }

            .select2-selection__rendered {
                color: rgba(42, 42, 42, 0.75);

                img {
                    width: 22px;
                    height: 16px;
                    background-size: cover;
                }
            }
        }

        &.error {
            input {
                border: 1px solid #FF4E43;
            }

            position: relative;

            &:after {
                content: 'Invalid email format.';
                position: absolute;
                bottom: -17px;
                right: 386px;
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                color: #FF4E43;
            }
        }

        p {
            color: rgba(42, 42, 42, 0.75);
            margin: 0;
        }

        input {
            max-width: 488px;
            width: 100%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(42, 42, 42, 0.75);
        }

        textarea {
            resize: none;
            padding: 9px 12px;
            background: #F2F4F8;
            width: 488px;
            height: 136px;
            outline: none;
            border: 1px solid #D4DCE7;
            border-radius: 2px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(42, 42, 42, 0.75);
        }

        input[type="file"] {
            padding: 10px 12px;
            width: 488px;
            height: 44px;
            background: #F2F4F8;
            border: 1px solid #D4DCE7;
            border-radius: 2px;
        }
    }
}


.inputfield.confirmation {
    label {
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }
    }
}


.inputblock p.thankyou-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1C4B85;
    margin-top: 32px;
    margin-bottom: 0;
}


// RESPONSIVE -------------------- //

@media (max-width: 1399.8px) {
    .ap-form .inputblock .inputfield.textarea p {
        max-width: 220px;
    }
}
@media (max-width: 991.8px) {
    .ap-heroscreen>img {
        object-position: 80% 50%;
    }

    .ap-form form button {
        margin-top: 20px;
    }

    .ap-form .inputblock:last-child {
        padding-bottom: 50px;
    }

    .ap-form .inputblock .inputfield textarea {
        width: 358px;
    }

    .ap-form .inputblock .inputfield.textarea p {
        max-width: 220px;
    }

    .ap-form p.thankyou-text {
        font-size: 18px;
        line-height: 27px;
        margin-top: 24px;
    }

    .ap-form .inputblock .inputfield.error:after {
        right: 254px;
    }

    .ap-form .inputblock .inputfield.phone input {
        max-width: 220px;
    }

    .ap-form .inputblock .inputfield.phone .select2.select2-container.select2-container--default {
        width: 138px !important;
    }

    .ap-form .inputblock .select2.select2-container.select2-container--default {
        width: 358px !important;
    }

    .ap-form .inputfield input[type=text] {
        height: 41px;
        padding: 7px 12px;
    }

    .ap-form .inputblock .inputfield input {
        max-width: 358px;
    }

    .ap-form form h3 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 37px;
        padding-left: 86px;
    }

    .ap-heroscreen__info {
        width: 58.5%;
    }

    .ap-heroscreen__infowrap .linetext {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .ap-heroscreen__infowrap h1 {
        margin-bottom: 12px;
    }

    .ap-heroscreen__infowrap {
        max-width: 340px;
    }

    .ap-heroscreen {
        height: calc(100vh - 60px);
    }
}

@media (max-width: 767.8px) {

    .ap-form .inputblock .inputfield.upload-popup .delete-btn,
    .ap-form .inputblock .inputfield.upload-popup .upload-btn {
        transform: translateY(0%);
    }

    .ap-form {
        padding: 50px 0 0;
    }

    .ap-form .inputblock .inputfield.error:after {
        right: initial;
        left: 0;
    }

    .ap-form .inputblock {
        padding-left: 90px;
        margin-bottom: 30px;
    }

    .ap-form .inputfield {
        width: 100%;
        max-width: 358px;
    }

    .ap-form .inputblock .select2.select2-container.select2-container--default {
        width: 100% !important;
        max-width: 358px;
    }

    .ap-form .inputblock .inputfield.phone input {
        max-width: 50%;
    }

    .ap-form .inputblock .inputfield.phone .select2.select2-container.select2-container--default {
        width: 50% !important;
    }

    .ap-form form h3 {
        margin-bottom: 30px;
        padding-left: 93px;
    }

    .ap-form .inputblock .inputfield p {
        margin-bottom: 4px;
    }

    .ap-form .inputblock .inputfield+.inputfield {
        margin-top: 20px;
    }

    .ap-heroscreen__info {
        width: 100%;
    }

    .ap-heroscreen__infowrap {
        max-width: 540px;
        margin: 0 auto;
    }

    .ap-heroscreen__info.cpl {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

@media (max-width: 575.8px) {

    .ap-heroscreen__info.cpl {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

}

@media (max-width: 375px) {
    .ap-form .inputblock {
        padding-left: 50px;
        margin-bottom: 20px;
    }

    .ap-form form h3 span {
        width: 50px;
        height: 50px;
        left: -10px;
        font-size: 26px;
    }

    .ap-form .inputblock:before {
        left: 15px;
    }

    .ap-form form h3 {
        margin-bottom: 15px;
        padding-left: 50px;
    }

    .ap-form .inputblock .inputfield.checkboxes label+label {
        margin-left: 20px;
    }
}