// welcome screen

.ba-welcomesect {
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 800px;
    overflow: hidden;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.ba-welcomesect__info {
    width: 49%;
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 75, 133, 0.595) 0%, rgba(18, 56, 103, 0.85) 100%);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-right: 15px;

    .ba-welcomesect__infowrap {
        h1 {
            margin-bottom: 24px;
            color: #fff;
        }

        .linetext {
            position: relative;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 24px;
            padding-left: 94px;

            &::after {
                content: '';
                display: inline-block;
                width: 80px;
                height: 4px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 13px;
            }
        }

        .descr {
            max-width: 490px;
            margin-bottom: 24px;

            p {
                text-align: justify;
                color: #fff;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.ba-welcomesect__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: rgba(18, 56, 103, 0.92);
    padding: 40px 0 50px;

    ul {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            height: 60px;
            display: flex;
            align-items: center;
            position: relative;

            &+li {
                margin-left: 40px;
                padding-left: 40px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    left: 0;
                    border-radius: 5px;
                    background-color: #fff;
                    opacity: .15;
                }
            }


            a {
                color: #FFF;
                font-size: 18px;
                line-height: normal;
            }
        }
    }

    >.scrollarr {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        cursor: pointer;
        animation: move 3s infinite;
    }
}


// ba-employment section ---------------- //
.ba-employment {
    padding: 80px 0 250px;
    position: relative;
}

.ba-employment__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.ba-employment__logo {
    margin: 0 auto 12px;
    width: 272px;
    display: block;
}

.ba-employment__title {
    margin-bottom: 12px;
    text-align: center;
    color: #fff;
}

.ba-employment__descr {
    max-width: 700px;
    text-align: center;
    margin: 0 auto 24px;
    color: #fff;
}

.ba-employment__btn {
    text-align: center;

    a+a {
        margin-left: 24px;
    }
}



// ba-workflow -------------------- //
.ba-workflow {
    padding: 40px 0 80px;
    background: #F2F4F8;
}

.ba-workflow__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -230px;
}

.ba-workflow__accordion {
    width: 58%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(23, 95, 185, 0.05);
    padding: 40px 12px 20px 24px;
    margin-bottom: 40px;

    >h2 {
        margin-bottom: 0;
        color: #2a2a2a;
    }
}

.ba-workflow__accordion-inner {
    padding-right: 20px;
    overflow: auto;

    &::-webkit-scrollbar {
        background: #F2F4F8;
        border-radius: 4px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #D4DCE7;
        border-radius: 4px;
    }
}

.ba-workflow__accordion-body {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D4DCE7;
    position: relative;

    &:last-child {
        border: none;
    }

    &.active {
        .ba-workflow__accordion-arrow {
            transform: rotate(0deg);
        }
    }
}

.ba-workflow__accordion-index {
    color: #2F7DDE;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 0px;
    left: 10px;
}

.ba-workflow__accordion-header {
    position: relative;
    padding-right: 55px;
    padding-left: 70px;

    h4 {
        color: #2A2A2A;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 4px;
    }

    b {
        color: #2A2A2A;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.ba-workflow__accordion-arrow {
    position: absolute;
    top: 0;
    right: 0px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid #C9D3E1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    z-index: 4;
    transform: rotate(180deg);

    img {
        width: 24px;
        height: 24px;
        background-size: cover;
    }
}

.ba-workflow__accordion-content {
    display: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    position: relative;

    .index {
        position: absolute;
        color: rgba(242, 244, 248, 0.50);
        text-align: center;
        font-size: 200px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        pointer-events: none;
    }

    ul {
        padding: 0;
        position: relative;

        li {
            color: rgba(42, 42, 42, 0.60);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            list-style: none;
            position: relative;
            padding-left: 16px;

            &:before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                margin-right: 8px;
                background: #2F7DDE;
            }
        }
    }

    p {
        position: relative;
        color: rgba(42, 42, 42, 0.60);
    }
}



.ba-workflow__offer {
    width: 39%;
    margin-bottom: 40px;
}

.ba-workflow__offerbox {
    border-radius: 8px;
    background: #fff;
    padding: 28px 24px;
    width: 100%;
    margin-bottom: 40px;

    h4 {
        color: #2A2A2A;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 4px;
    }

    p {
        color: #2A2A2A;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 24px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            border-radius: 8px;
            overflow: hidden;
            display: block;
            min-height: 288px;

            &+li {
                margin-top: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            span {
                position: absolute;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                border-radius: 1px;
                background: rgba(57, 125, 210, 0.90);
                padding: 17px 24px;
                bottom: 20px;
                left: 20px;
            }
        }
    }
}

.ba-workflow__offerimg {
    height: 583px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(23, 95, 185, 0.05);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ba-workflow__infobox {
    border-radius: 8px;
    background: #2F7DDE;
    box-shadow: 0px 4px 8px 0px rgba(23, 95, 185, 0.05);
    padding: 40px;
    min-height: 450px;
    width: calc(50% - 20px);
    margin-bottom: 40px;

    h4 {
        color: #FFF;
        font-size: 22px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    p {
        color: #F2F4F8;
        min-height: 120px;

        &:last-child {
            margin-bottom: 30px;
        }
    }

    ul {
        color: #F2F4F8;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    li {
        list-style: none;
        padding: 12px 10px 12px 40px;
        color: #FFF;
        line-height: 130%;
        position: relative;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.20);

        &+li {
            margin-top: 12px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            background-image: url(../img/new/check_whote_circle.svg);
        }
    }
}

.ba-workflow__infobox+.ba-workflow__infobox {
    background: #FFF;

    h4 {
        color: #2F7DDE;
    }

    p {
        color: rgba(42, 42, 42, 0.75);
    }

    ul {
        color: rgba(42, 42, 42, 0.75);
    }

    li {
        background: #E0EBFA;
        color: rgba(42, 42, 42, 0.75);

        &:before {
            background-image: url(../img/new/check_blue_circle.svg);
        }
    }
}

.ba-workflow__imagebox {
    width: calc(50% - 20px);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ba-workflow__about {
    width: calc(50% - 20px);
    padding: 40px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(28, 75, 133, 0.05);

    h4 {
        color: #2A2A2A;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    p {
        color: rgba(42, 42, 42, 0.75);
        margin-bottom: 24px;
    }

    h5 {
        border-radius: 4px;
        background: #E0EBFA;
        margin-bottom: 12px;
        padding: 10px 16px;
        color: #2676DA;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.ba-workflow__about-block {
    border-bottom: 1px solid #D4DCE7;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
        border: none;
    }
}

// ba-weoffer ---------------------------------------- //
// -------------------------------------------------- //


.ba-weoffer__inner {
    border-radius: 8px;
    background: linear-gradient(180deg, #FFF 0%, #F2F4F8 100%);
    box-shadow: 0px 4px 7px 0px rgba(28, 75, 133, 0.10);
    padding: 24px;
    margin-bottom: 40px;

    .col-lg-4:first-child {
        .ba-weoffer__item {
            img {
                height: 300px;
            }
        }
    }
}

.ba-weoffer__item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    span {
        position: absolute;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        border-radius: 1px;
        background: #1C4B85;
        padding: 14px 24px;
        bottom: 20px;
        left: 20px;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 360px;
        display: block;
    }
}

.ba-weoffer__title {
    display: flex;
    align-items: center;

    h3 {
        color: #2A2A2A;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin: 0 8px 0 0;
    }

    p {
        color: #2A2A2A;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        margin: 0;
    }
}

//  ba-workflow second ---------------- //
//  ----------------------------------- //
.ba-workflow.weoffer {
    background-color: #fff;
}

.ba-workflow__content-left {
    width: 39%;

    .ba-workflow__imagebox {
        width: 100%;
        height: 360px;
        margin-bottom: 40px;
        border-radius: 8px;
        overflow: hidden;
    }

    .ba-workflow__infobox {
        width: 100%;
        min-height: auto;
        background: linear-gradient(180deg, #2365B7 0%, #1C4A83 100%);

        h4 {
            color: #fff;
        }

        li {
            color: #fff;

            &+li {
                margin-top: 16px;
            }
        }
    }
}

.ba-workflow__content-right {
    width: 58%;

    .ba-workflow__accordion {
        width: 100%;
        background: #F2F4F8;
        box-shadow: 0px 4px 8px 0px rgba(23, 95, 185, 0.05);
    }

    .ba-workflow__accordion-index {
        color: #1C4B85;
    }

    .ba-workflow__accordion-content ul li:before {
        top: calc(50% - 4px);
        background: #1C4B85;
    }
}

// ba-contract ------------------------------ //
// ------------------------------------------ //

.ba-contract {
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    h3 {
        color: #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 16px;
    }

    p {
        color: #FFF;
    }
}

.ba-contract__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ba-contract__left {
    width: 70%;
    padding: 40px 58px 40px 40px;
}

.ba-contract__right {
    width: 30%;
    height: 100%;
    padding: 55px 40px;
    background: rgba(28, 75, 133, 0.90);
    position: relative;
    z-index: 2;
}

.ba-contract__services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
}

.ba-contract__servitem {
    text-align: center;
    border-radius: 8px;
    background: rgba(28, 75, 133, 0.90);
    width: 32%;
    padding: 22px;

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
    }

    p {
        color: #FFF;
        text-align: center;
        font-style: normal;
        font-weight: 600;
    }
}

.ba-contract__left-text {
    position: relative;
    color: #fff;
}



// ba-consulting ---------------------------- //
// ------------------------------------------ //

.ba-consulting {
    background: #F2F4F8;
    padding: 40px 0 60px;
}

.ba-consulting__inner {
    margin-top: -230px;
    display: flex;
    justify-content: space-between;
}

.ba-consulting__left {
    width: 39%;
}

.ba-consulting__right {
    width: 58%;
}

.ba-consulting__leftblock {
    padding: 32px 40px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    background: #2E76D1;
    box-shadow: 0px 4px 4px 0px rgba(28, 75, 133, 0.05);
    color: #fff;

    h4 {
        font-size: 22px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 12px;
        line-height: 160%;
    }

    ul {
        margin: 0;
        padding: 0 0 0 20px;

        li {
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            &+li{
                margin-top: 10px;
            }
        }
    }

    img {
        width: 100%;
        background-size: cover;
        display: block;
    }

    &.image {
        padding: 0;
    }
    &.white {
        background: #FFF;
        color: rgba(42, 42, 42, 0.75);
    }

    &.darkblue {
        background: #1C4B85;
    }

    &+.ba-consulting__leftblock {
        margin-top: 28px;
    }
}

.ba-consulting__rightblock {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(28, 75, 133, 0.05);
    padding: 40px;
    color: #2A2A2A;

    h4 {
        margin-bottom: 28px;
        font-size: 36px;
        font-weight: 600;
        line-height: 130%;
    }
}

.ba-consulting__row {
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 24px;
    border-radius: 0px 8px 8px 8px;
    background: #F2F4F8;

    &+.ba-consulting__row {
        margin-top: 24px;
    }
}

.ba-consulting__row-index {
    padding-right: 29px;

    span {
        color: #1C4B85;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.ba-consulting__row-content {
    padding-left: 29px;
    border-left: 1px solid #D4DCE7;

    h5 {
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 4px;
    }

    p {
        margin: 0;
    }
}


















//  -------------  ADAPTIVE ----------------------- //
//  ---------------------------------------------- //

@media (max-width: 991.8px) {

    .ba-welcomesect__info {
        width: 60%;
    }

    .ba-welcomesect {
        height: 650px;
        min-height: initial;
    }

}

@media (max-width: 767.8px) {
    .ba-welcomesect__info {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0;
    }

    .ba-welcomesect__infowrap {
        max-width: 540px;
        margin: 0 auto;
    }


    .ba-welcomesect__bottom {
        display: none;
    }
}


@media (max-width: 575.8px) {

    .ba-welcomesect__info {
        padding-left: 20px !important;
        padding-right: 20px;
    }

    .ba-welcomesect {
        height: calc(100vh - 60px);
    }

}