@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Poppins', sans-serif;

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 24px;

    * {
        box-sizing: border-box;
    }
}

body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

main.main {
    padding-top: 80px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.whitebtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 51px;
    padding: 3px 16px;
    color: #1C4B85;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    background: #fff;
    border-radius: 8px;
    transition: 0.3s;
    border: 1px solid #fff;

    &:hover {
        animation: pulse 1s;
        -webkit-animation: pulse 1s;
    }
}

.bluebtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 51px;
    padding: 3px 16px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    background: rgb(28, 75, 133);
    border-radius: 8px;
    transition: 0.3s;
    border: none;
    cursor: pointer;

    &:hover {
        background: #113867;
        animation: pulse2 1s;
        -webkit-animation: pulse2 1s;
    }

    &:disabled {
        background: #D4DCE7;
        cursor: inherit;
    }
}

.bordwhitebtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 51px;
    padding: 3px 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border-radius: 8px;
    transition: 0.3s;
    border: none;
    cursor: pointer;

    border: 2px solid #8FA1BD;
    background: #fff;
    color: #1C4B85;

    &:hover {
        border: 2px solid #1C4B85;
    }
}

@keyframes pulse {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    }

    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

@keyframes pulse2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(28, 75, 133, .5);
    }

    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(28, 75, 133, 0);
    }
}

h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.secttitle {
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
}

.secttitlesm {
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bluebg {
    background: linear-gradient(270deg, #1C4B85 0%, #113F78 100%);
}

p.subtitlesect {
    &::after {
        top: 50%;
        transform: translateY(-50%);
    }
}






@media(min-width:1301px) {
    .container {
        max-width: 1230px;
    }
}

@media(max-width:1199.8px) {

    h1,
    .secttitle {
        font-size: 46px;
        line-height: 58px;
    }

    .secttitlesm {
        font-size: 32px;
        line-height: 160%;
    }
}

@media(max-width:991.8px) {
    main.main {
        padding-top: 60px;
    }

    .container {
        // padding: 0 40px !important;
        // width: 100%;
        // max-width: initial;
    }

    h1,
    .secttitle {
        font-size: 36px;
        line-height: 54px;
    }

    body {
        font-size: 14px;
        line-height: 21px;
    }

    .bluebtn {
        font-size: 14px;
        height: 45px;
    }
}

@media(max-width:575.8px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:360.8px) {

    h1,
    .secttitle {
        font-size: 28px;
        line-height: 38px;
    }
}