//  HEROSCREEN SECTION --------------------- //
.js-heroscreen {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &:after {
        content: '';
        position: absolute;
        width: 13%;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(28, 75, 133, 0.595) 0%, rgba(18, 56, 103, 0.85) 100%);
    }
}

.js-heroscreen__info {
    width: 57%;
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 75, 133, 0.595) 0%, rgba(18, 56, 103, 0.85) 100%);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.js-heroscreen__infowrap {
    max-width: 646px;
    width: 100%;

    >h1 {
        font-weight: 600;
        font-size: 52px;
        line-height: 78px;
        color: #FFFFFF;
        margin-bottom: 12px;
    }

    >p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 489px;
        width: 100%;
    }

    form {
        margin-top: 100px;

        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
            color: #FFFFFF;
        }
    }
}

.js-inputrow {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &+.js-inputrow {
        margin-top: 40px;
    }

    input[type="text"] {
        width: 100%;
        border: 1.5px solid #FFFFFF;
        border-radius: 2px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 13px 18px;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        outline: none;

        &::placeholder {
            transition: .3s;
            color: #FFFFFF;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    button {
        position: absolute;
        width: 52px;
        height: 52px;
        border: none;
        border-radius: 0 2px 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
    }

    .js-inputfield {
        &+.js-inputfield {
            margin-left: 12px;
        }
    }

    .customradio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .customradio+span {
        display: inline-flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 16px;
        color: #FFFFFF;
        cursor: pointer;
        transition: .2s;

        &:before {
            display: none;
        }

        &:after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url(../img/new/check.svg);
            margin-left: 10px;
            display: none;
        }
    }

    .customradio:checked+span {
        background: #FFFFFF;
        color: #2A2A2A;

        &:after {
            display: block;
        }
    }
}


//  RESULT SECTION --------------------- //
.js-result {
    padding: 60px 0 230px;
    background-color: #f2f4f8;
    position: relative;
}

.js-result__wrapper {
    h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: justify;
        color: #2A2A2A;
        margin-bottom: 32px;
    }
}

.js-result__item {
    max-width: 772px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 24px;

    &:nth-of-type(even) {
        background: rgba(212, 220, 231, 0.6);
    }

    &+.js-result__item {
        margin-top: 32px;
    }
}

.js-result__item-head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.js-result__item-img {
    margin-right: 12px;
}

.js-result__item-title {
    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 4px;
        color: #2A2A2A;

    }

    p {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(42, 42, 42, 0.75);
        cursor: default;

        &:before {
            content: '';
            width: 16px;
            height: 22px;
            display: inline-block;
            background-size: cover;
            background-image: url(../img/new/location_icon.svg);
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}

.js-result__item-content {
    margin-bottom: 16px;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(42, 42, 42, 0.7);

        &+p {
            margin-top: 20px;
        }
    }
}

.js-result__item-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1C4B85;

        &+a {
            margin-left: 40px;
            display: flex;
            align-items: center;

            img {
                margin-left: 2px;
            }
        }
    }
}


//  PAGINATION //

.update-btn {
    text-align: center;
    margin-top: 32px;

    a {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2A2A2A;
        background: #FFFFFF;
        border: 1.5px solid #D4DCE7;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 141px;
        height: 38px;
        margin: 0 auto;

        img {
            width: 24px;
            height: 24px;
            background-size: cover;
            margin-right: 10px;
        }
    }
}

.pagination {
    margin-top: 20px;
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin-right: 8px;
            cursor: pointer;

            &:first-child {
                margin-right: 42px;
            }

            &:last-child {
                margin-right: 0px;
                margin-left: 42px;
            }
        }

        span {
            background: #FFFFFF;
            border: 1.5px solid #D4DCE7;
            width: 40px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            transition: .3s;

            svg path {
                transition: .3s;
            }

            &:hover {
                border: 1.5px solid #5189CF;
                color: #2A2A2A;

                svg path {
                    stroke: #2A2A2A;
                }
            }
        }

        a {
            background: #FFFFFF;
            border: 1.5px solid #D4DCE7;
            border-radius: 5px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #8FA1BD;
            width: 40px;
            height: 32px;
            transition: .3s;

            &.current,
            &:hover {
                border: 1.5px solid #5189CF;
                color: #2A2A2A;
            }
        }
    }
}


//  RESULT FORM //

.js-result__form {
    background-color: #fff;
    position: absolute;
    top: -110px;
    right: 0;
    width: 35%;
}

.js-result__form-head {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #2A2A2A;
        margin: 0;
    }

    a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8FA1BD;

    }
}

.js-result__form-name {
    background: #F9FAFB;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding: 12px 40px;
    color: #2A2A2A;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url(../img/new/Plus.svg);
    }
}

.js-result__form-body {
    display: none;
    padding: 12px 40px 24px;
    border-bottom: 1px solid #D4DCE7;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        color: rgba(42, 42, 42, 0.75);
    }
}

.js-result__form-item.active {
    .js-result__form-name:after {
        background-image: url(../img/new/Minus.svg);
    }
}

.inputfield {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: block;
        color: rgba(42, 42, 42, 0.75);
    }

    &+.inputfield {
        margin-top: 12px;
    }

    input[type="text"] {
        width: 100%;
        padding: 9px 12px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(42, 42, 42, 0.75);
        background: #F2F4F8;
        border: 1px solid #D4DCE7;
        border-radius: 2px;

        &::placeholder {
            transition: .3s;
            font-size: 16px;
            line-height: 24px;
            color: #8FA1BD;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }
}

.inputblock {
    >span {
        background: #679FE4;
        border-radius: 200px;
        height: 44px;
        padding: 8px 27px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
    }

    >a {
        font-size: 16px;
        background: #4279BE;
        line-height: 24px;
        color: #FFFFFF;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


    &+.inputblock {
        margin-top: 42px;
    }
}

.customcheck,
.customradio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customradio+span,
.customcheck+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: rgba(42, 42, 42, 0.75);
    cursor: pointer;
}

.customcheck+span::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #F2F4F8;
    border: 1px solid #D4DCE7;
    border-radius: 1px;
    margin-right: 20px;
    transition: .3s;
    cursor: pointer;
}

.customcheck:checked+span::before {
    background-image: url(../img/new/checkbox_check.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.customradio+span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1.5px solid #5189CF;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
}

.customradio:checked+span::before {
    border: 4px solid #fff;
    box-shadow: 0 0 0 1px #5189CF;
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background-color: #5189CF;
}



.select2-container--default .select2-selection--single {
    border: 1px solid #D4DCE7;
    border-radius: 2px;
    background: #F2F4F8;
    padding: 9px 12px;
    height: 44px;
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 24px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin: 0;
    border: none;
    top: 0;
    left: 0;
    background-image: url(../img/new/arrow_own.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
}

.js-result__form-body .select2.select2-container.select2-container--default {
    width: 208px !important;
}


.select2-dropdown {
    border: 1px solid #D4DCE7;
    filter: drop-shadow(0px 4px 4px rgba(28, 75, 133, 0.05));
    border-radius: 2px;
    z-index: 2;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f2f4f8;
    color: rgba(42, 42, 42, 0.75);
}

.select2-results__option {
    padding: 10px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(42, 42, 42, 0.75);
}

.select2-results__options {
    &::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 230px;
}











.js-result__form-bottom {
    text-align: center;
    padding: 32px 40px;
    border-top: 1px solid #D4DCE7;

    p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 12px;
        color: #2A2A2A;
    }

    a {
        display: inline-block;
        margin: 0 auto;
        background: #FFFFFF;
        border: 2px solid #8FA1BD;
        border-radius: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        color: #1C4B85;
        padding: 11px 16px;
    }
}
















// POPUP //

.popup__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: linear-gradient(180deg, rgba(38, 103, 183, 0.45) 0%, rgba(13, 42, 78, 0.45) 100%);
    transition: .3s;
    &::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;

        .popup__body {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.popup__wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__body {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(28, 75, 133, 0.05);
    border-radius: 8px;
    max-width: 990px;
    width: 100%;
    padding: 40px 30px 40px 60px;
    position: relative;
    transition: .2s;
    opacity: 0;
    transform: translateY(-10px);
}

.popup__close {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.popup__title {
    margin-bottom: 20px;

    h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        color: #2A2A2A;
    }

    p {
        display: block;
        font-size: 16px;
        line-height: 24px;
        color: rgba(42, 42, 42, 0.75);

        &:before {
            content: '';
            width: 14px;
            height: 20px;
            background-size: cover;
            margin-right: 4px;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/new/location_icon.svg);
        }
    }
}

.popup__content {
    max-height: 500px;
    overflow-y: scroll;
    padding: 0 50px 0 0px;
    margin-bottom: 37px;


    /* Работает в Chrome, Edge и Safari */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(#D4DCE7, .2);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #D4DCE7;
        border-radius: 8px;
    }

    h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #2A2A2A;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: rgba(42, 42, 42, 0.75);
        margin-bottom: 35px;
    }

    ul {
        padding: 0;
        margin-bottom: 35px;

        li {
            font-size: 16px;
            line-height: 24px;
            color: rgba(42, 42, 42, 0.75);
            list-style: none;

            &+li {
                margin-top: 12px;
            }

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-right: 8px;
                background: #5189CF;
            }
        }
    }
}

.popup__bottom {
    border-top: 1px solid #D4DCE7;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        &.whitebtn {
            border: 2px solid #8FA1BD;
        }

        &+a {
            margin-left: 60px;
        }
    }
}


// RESPONSIVE ------------------------ //

@media (max-width: 1199.8px) {

    .popup__content {
        max-height: 400px;
        padding: 0 30px 0 0px;
        margin-bottom: 30px;
    }

}
@media (max-width: 991.8px) {

    .popup__bottom a.whitebtn {
        font-size: 14px;
        height: 45px;
    }
}

@media (max-width: 767.8px) {
    .popup__body {
        padding: 30px 20px 30px 30px;
    }
    .popup__title h2 {
        font-size: 28px;
        line-height: 130%;
    }
    .popup__close {
        top: 30px;
    }
}

@media (max-width: 575.8px) {
    .popup__content p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .popup__content ul li {
        font-size: 14px;
        line-height: 20px;
    }

    .popup__bottom  {
        flex-direction: column;
        a{
            width: 100%;
            &+a{
                margin: 15px 0 0;
            }
        }
    }
}