//  HEROSCREEN SECTION --------------------- //
.js-heroscreen {
    width: 100%;
    // height: calc(100vh - 80px);
    height: 600px;
    overflow: hidden;
    position: relative;

    .js-heroscreen__bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &:after {
        content: '';
        position: absolute;
        width: 13%;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(28, 75, 133, 0.595) 0%, rgba(18, 56, 103, 0.85) 100%);
    }
}

.js-heroscreen__info {
    width: 57%;
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 75, 133, 0.595) 0%, rgba(18, 56, 103, 0.85) 100%);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.js-heroscreen__infowrap {
    max-width: 646px;
    width: 100%;

    >h1 {
        color: #FFFFFF;
        margin-bottom: 12px;
    }

    >p {
        color: #FFFFFF;
        max-width: 489px;
        width: 100%;
    }

    form {
        margin-top: 70px;

        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
            color: #FFFFFF;
        }
    }
}

.js-heroscreen__infowrap .js-inputrow{
    flex-wrap: wrap;
}

.js-inputrow {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &+.js-inputrow {
        margin-top: 30px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 100%;
        border: 1.5px solid #FFFFFF;
        border-radius: 2px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 13px 18px;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        outline: none;

        &::placeholder {
            transition: .3s;
            color: #FFFFFF;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    button {
        position: absolute;
        width: 52px;
        height: 52px;
        border: none;
        border-radius: 0 2px 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
    }

    .js-inputfield {
        margin-right: 12px;
        margin-bottom: 12px;
        &:last-child{
            margin-right: 0;
        }
    }

    .customradio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .customradio+span {
        display: inline-flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        padding: 10px 16px;
        color: #FFFFFF;
        cursor: pointer;
        transition: .2s;

        &:before {
            display: none;
        }

        &:after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url(../img/new/check.svg);
            margin-left: 10px;
            display: none;
        }
    }

    .customradio:checked+span {
        background: #FFFFFF;
        color: #2A2A2A;

        &:after {
            display: block;
        }
    }
}


//  RESULT SECTION --------------------- //
.js-result {
    min-height: 800px;
    padding: 32px 0 130px;
    background-color: #f2f4f8;
    position: relative;
}

.js-result__wrapper {
    h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: #2A2A2A;
        margin-bottom: 32px;
    }
}

.js-result__item {
    max-width: 772px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 24px;

    &:nth-of-type(even) {
        background: rgba(212, 220, 231, 0.6);
    }

    &+.js-result__item {
        margin-top: 32px;
    }
}

.js-result__item-head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.js-result__item-img {
    margin-right: 12px;

    img {
        width: 72px;
        background-size: cover;
    }
}

.js-result__item-title {
    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 4px;
        color: #2A2A2A;

    }

    p {
        position: relative;
        color: rgba(42, 42, 42, 0.75);
        cursor: default;
        margin-bottom: 0;

        &:before {
            content: '';
            width: 16px;
            height: 22px;
            display: inline-block;
            background-size: cover;
            background-image: url(../img/new/location_icon.svg);
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}

.js-result__item-content {
    margin-bottom: 16px;

    p {
        color: rgba(42, 42, 42, 0.7);

        &+p {
            margin-top: 20px;
        }
    }
}

.js-result__item-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1C4B85;
        transition: .3s;

        &:hover {
            opacity: 0.6;
        }

        &+a {
            margin-left: 40px;
            display: flex;
            align-items: center;

            img {
                margin-left: 2px;
            }
        }
    }
}



//  RESULT FORM //



.mobile-frame {
    display: none;
}

.js-result__form {
    background-color: #fff;
    position: absolute;
    top: -110px;
    right: 0;
    width: 35%;
    transition: .4s;

    &.hide {
        transform: translateX(100%);
    }
}

.js-result__form-wrap {
    overflow-y: auto;

    &::-webkit-scrollbar {
        background: #F2F4F8;
        border-radius: 4px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #D4DCE7;
        border-radius: 4px;
    }

    max-height: calc(100vh - 190px);
    display: block;
}


.js-result__form-head {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #2A2A2A;
        margin: 0;
    }

    .hideform-btn {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8FA1BD;
        cursor: pointer;
        transition: .3s;

        &:hover {
            opacity: .3;
        }

    }
}

.js-result__form-name {
    background: #F9FAFB;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding: 12px 40px;
    color: #2A2A2A;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url(../img/new/Plus.svg);
    }
}

.js-result__form-content:nth-child(1),
.js-result__form-content:nth-child(2) {
    .js-result__form-body {
        display: block;
    }
}

.js-result__form-body {
    display: none;
    padding: 12px 40px 24px;
    border-bottom: 1px solid #D4DCE7;

    p {
        margin-bottom: 12px;
        color: rgba(42, 42, 42, 0.75);
    }
}

.js-result__form-item.active {
    .js-result__form-name:after {
        background-image: url(../img/new/Minus.svg);
    }
}

.inputfield {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
        display: block;
        color: rgba(42, 42, 42, 0.75);
    }

    &+.inputfield {
        margin-top: 12px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 100%;
        padding: 9px 12px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(42, 42, 42, 0.75);
        background: #F2F4F8;
        border: 1px solid #D4DCE7;
        border-radius: 2px;

        &::placeholder {
            transition: .3s;
            font-size: 16px;
            line-height: 24px;
            color: #8FA1BD;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }
}

.inputblock {
    >span {
        background: #679FE4;
        border-radius: 200px;
        height: 44px;
        padding: 8px 27px;
        color: #FFFFFF;
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
    }

    >a {
        background: #4279BE;
        color: #FFFFFF;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


    &+.inputblock {
        margin-top: 42px;
    }
}

.customcheck,
.customradio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customradio+span,
.customcheck+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    ;
    color: rgba(42, 42, 42, 0.75);
    cursor: pointer;
}

.customcheck+span::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #F2F4F8;
    border: 1px solid #D4DCE7;
    border-radius: 1px;
    margin-right: 20px;
    transition: .3s;
    cursor: pointer;
}

.customcheck:checked+span::before {
    background-image: url(../img/new/checkbox_check.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.customradio+span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1.5px solid #5189CF;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
}

.customradio:checked+span::before {
    border: 5px solid #fff;
    box-shadow: 0 0 0 1px #5189CF;
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background-color: #5189CF;
}



.select2-container--default .select2-selection--single {
    border: 1px solid #D4DCE7;
    border-radius: 2px;
    background: #F2F4F8;
    padding: 9px 12px;
    height: 44px;
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 24px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin: 0;
    border: none;
    top: 0;
    left: 0;
    background-image: url(../img/new/arrow_own.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
}

.js-result__form-body .select2.select2-container.select2-container--default {
    width: 208px !important;
}


.select2-dropdown {
    border: 1px solid #D4DCE7;
    filter: drop-shadow(0px 4px 4px rgba(28, 75, 133, 0.05));
    border-radius: 2px;
    z-index: 2;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f2f4f8;
    color: rgba(42, 42, 42, 0.75);
}

.select2-results__option {
    padding: 10px 12px;
    font-weight: 400;
    color: rgba(42, 42, 42, 0.75);
}

.select2-results__options {
    &::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 230px;
}


.js-result__form-bottom {
    text-align: center;
    padding: 32px 40px;
    border-top: 1px solid #D4DCE7;
    background: #F9FAFB;

    p {
        text-align: center;
        margin-bottom: 12px;
        color: #2A2A2A;
    }

    a {
        display: inline-block;
        margin: 0 auto;
        background: #FFFFFF;
        border: 2px solid #8FA1BD;
        border-radius: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        color: #1C4B85;
        padding: 11px 16px;
        transition: .3s;

        &:hover {
            filter: brightness(95%);
        }
    }
}

.js-result__filter-frame {
    padding: 27px 24px;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-right: 14px;
        color: #2A2A2A;
    }

    p {
        background: #518ACF;
        border-radius: 200px;
        font-size: 16px;
        line-height: 24px;
        width: 51px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }

    span {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        color: #8FA1BD;
    }
}




//  PAGINATION //

.update-btn {
    text-align: center;
    margin-top: 32px;

    a {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2A2A2A;
        background: #FFFFFF;
        border: 1.5px solid #D4DCE7;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 141px;
        height: 38px;
        margin: 0 auto;

        img {
            width: 24px;
            height: 24px;
            background-size: cover;
            margin-right: 10px;
        }
    }
}

.pagination {
    margin-top: 20px;
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        li {
            list-style: none;
            margin-right: 8px;
            cursor: pointer;

            &:first-child {
                margin-right: 42px;
            }

            &:last-child {
                margin-right: 0px;
                margin-left: 36px;
            }
        }

        span {
            background: #FFFFFF;
            border: 1.5px solid #D4DCE7;
            width: 40px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            transition: .3s;

            svg path {
                transition: .3s;
            }

            &:hover {
                border: 1.5px solid #5189CF;
                color: #2A2A2A;

                svg path {
                    stroke: #2A2A2A;
                }
            }
        }

        a {
            background: #FFFFFF;
            border: 1.5px solid #D4DCE7;
            border-radius: 5px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #8FA1BD;
            width: 40px;
            height: 32px;
            transition: .3s;

            &.current,
            &:hover {
                border: 1.5px solid #5189CF;
                color: #2A2A2A;
            }
        }
    }
}










// POPUP //

.popup__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: linear-gradient(180deg, rgba(28, 75, 133, 0.31) 0%, rgba(18, 56, 103, 0.45) 100%);
    backdrop-filter: blur(5px);
    transition: .3s;
    z-index: 90;

    &::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;

        .popup__body {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &.popup-review {
        h3 {
            color: #2A2A2A;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 15px;
        }
    }
}

.popup__wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__body {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(28, 75, 133, 0.05);
    border-radius: 8px;
    max-width: 990px;
    width: 100%;
    padding: 40px 30px 40px 60px;
    position: relative;
    transition: .2s;
    opacity: 0;
    transform: translateY(-10px);
}

.popup__close {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.popup__title {
    margin-bottom: 20px;
    position: relative;
    &-btn{
        position: absolute;
        top: 40px;
        transform: translateY(-50%);
        right: 50px;
    }

    h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        color: #2A2A2A;
        margin-bottom: 0;
        width: 75%;
    }

    p {
        display: block;
        color: rgba(42, 42, 42, 0.75);

        &:before {
            content: '';
            width: 14px;
            height: 20px;
            background-size: cover;
            margin-right: 4px;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/new/location_icon.svg);
        }
    }
}

.popup__content {
    max-height: 500px;
    overflow-y: scroll;
    padding: 0 50px 0 0px;
    margin-bottom: 37px;


    /* Работает в Chrome, Edge и Safari */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(#D4DCE7, .2);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #D4DCE7;
        border-radius: 8px;
    }

    h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #2A2A2A;
    }

    p {
        color: rgba(42, 42, 42, 0.75);
        margin-bottom: 20px;
    }

    ul {
        padding: 0;
        margin-bottom: 35px;

        li {
            color: rgba(42, 42, 42, 0.75);
            list-style: none;

            &+li {
                margin-top: 12px;
            }

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-right: 8px;
                background: #5189CF;
            }
        }
    }
}

.popup__bottom {
    border-top: 1px solid #D4DCE7;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        &.whitebtn {
            border: 2px solid #8FA1BD;
        }

        &+a {
            margin-left: 60px;
        }
    }
}


// RESPONSIVE ------------------------ //

@media (max-width: 1399.8px) {
    .js-result__wrapper{
        padding-bottom: 50px;
    }

    .js-result__form-wrap {
        overflow-y: initial;
        max-height: 100%;
        display: none;
    }

    .js-result__item {
        max-width: 100%;
        width: 100%;
    }

    .mobile-frame {
        width: 100%;
        height: 83px;
        padding: 0 40px;
        display: flex;
        align-items: center;

        &.active {
            .text--open {
                display: block;
            }

            .text--hide {
                display: none;
            }
        }

        p {
            margin: 0 0 0 auto;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            width: 45px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #518ACF;
            border-radius: 16px;
        }

        img {
            width: 20px;
            height: 24px;
            margin-right: 24px;
            background-size: cover;
        }

        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
            color: #2A2A2A;
        }

        span {
            font-size: 14px;
            line-height: 21px;
            color: #8FA1BD;
        }

        .text--open {
            display: none;
        }
    }


    .js-result__filter-frame {
        display: none;
    }

    .js-result__form-wrap {
        display: none;
        transition: 0s;
    }

    .js-result__form-head {
        border-bottom: 4px solid #D4DCE7;
        box-shadow: 0px 6px 9px rgba(28, 75, 133, 0.09);
        padding: 0;

        >h3 {
            display: none;
        }

        .hideform-btn {
            display: none;
        }
    }

    .js-result__form {
        z-index: 14;
        top: 0px;
        width: 100%;
        transition: 0s !important;
        position: sticky!important;
        top: 60px;
    }


    .js-heroscreen__info {
        width: 60%;
    }

    .js-result {
        padding: 0px 0 0px;
        background-color: #f2f4f8;
        position: relative;
    }

    .js-result__wrapper {
        padding-top: 20px;
    }
}

@media (max-width: 1199.8px) {
    .js-heroscreen__infowrap>h1 {
        font-size: 36px;
        line-height: 150%;
    }

    .popup__content {
        max-height: 400px;
        padding: 0 30px 0 0px;
        margin-bottom: 30px;
    }

}

@media (max-width: 991.8px) {


    .js-result__form {
        z-index: 14;
        top: 60px!important;
        width: 100%;
        -webkit-transition: 0s!important;
        transition: 0s!important;
    }



    .js-result__form-bottom a {
        font-size: 14px;
        line-height: 21px;
        padding: 12px 16px;
    }

    .js-result__form-name {
        font-size: 14px;
        line-height: 21px;
    }

    .mobile-frame {
        height: 73px;
    }

    .js-result {
        padding: 0px 0 0px;
    }

    .js-result__item+.js-result__item {
        margin-top: 24px;
    }

    .js-result__item-content p+p {
        margin-top: 10px;
    }

    .js-result__item-content {
        margin-bottom: 8px;
    }

    .js-result__item-head {
        margin-bottom: 8px;
    }

    .js-result__item-img {
        img {
            width: 60px;
        }
    }

    .js-result__wrapper h2 {
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .js-result__item-title h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .js-result__item {
        padding: 16px;
    }

    .js-heroscreen {
        height: 550px;
    }

    .js-heroscreen__infowrap>h1 {
        font-size: 30px;
    }

    .select2-container--default .select2-selection--single {
        padding: 6px 12px;
        height: 41px;
    }

    .popup__bottom a.whitebtn {
        font-size: 14px;
        height: 45px;
    }
}

@media (max-width: 767.8px) {
    .popup__title-btn {
        position: relative;
        top: initial;
        transform: none;
        right: initial;
        width: 100%;
        margin: 10px 0;
    }
    .inputblock+.inputblock {
        margin-top: 28px;
    }

    .inputblock>span {
        height: 41px;
        padding: 8px 22px;
        margin-bottom: 10px;
    }

    .mobile-frame img {
        margin-right: 12px;
    }

    .js-result__item-img {
        margin-right: 8px;
    }

    .js-heroscreen__infowrap form {
        margin-top: 50px;
    }



    .js-inputrow .js-inputfield+.js-inputfield {
        margin-left: 0px;
    }

    .js-heroscreen:after {
        display: none;
    }

    .js-heroscreen__info.cpl {
        width: 100%;
        padding: 0 !important;
    }

    .js-heroscreen__infowrap {
        max-width: 540px;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .inputfield {
        flex-wrap: wrap;

        p {
            width: 100%;
            margin-bottom: 4px;
        }
    }

    .js-result__form-content {
        .inputfield p {
            width: auto;
        }

        .js-result__form-body .select2.select2-container.select2-container--default {
            width: 100% !important;
        }
    }

    .popup__body {
        padding: 30px 20px 30px 30px;
    }

    .popup__title h2 {
        width: 85%;
        font-size: 26px;
        line-height: 130%;
    }

    .popup__close {
        top: 30px;
    }
}

@media (max-width: 575.8px) {
    .js-result__form-bottom {
        padding: 32px 20px;
    }

    .js-result__form-name {
        padding: 12px 20px;
    }

    .js-result__form-body {
        padding: 12px 20px 24px;
    }

    .mobile-frame {
        padding: 0px 20px;
    }

    .pagination ul li:first-child {
        margin-right: 20px;
    }

    .pagination ul li:last-child {
        margin-left: 12px;
    }

    .js-result__item-bottom {
        align-items: flex-start;
        flex-direction: column;
    }

    .js-result__item-bottom a+a {
        margin-left: 0px;
        margin-top: 20px;
    }

    .js-result__item-bottom a {
        font-size: 14px;
        line-height: 21px;
    }

    .js-heroscreen__infowrap>h1 {
        font-size: 28px;
    }

    .popup__content p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .popup__content ul li {
        font-size: 14px;
        line-height: 20px;
    }

    .popup__bottom {
        flex-direction: column;

        a {
            width: 100%;

            &+a {
                margin: 15px 0 0;
            }
        }
    }
}

@media (max-width: 375px) {
    .js-heroscreen__infowrap>h1 {
        font-size: 24px;
    }

    .pagination ul span {
        width: 35px;
        height: 32px;
    }

    .pagination ul a {
        width: 35px;
        height: 32px;
    }

    .pagination ul li:first-child {
        margin-right: 10px;
    }

    .pagination ul li:last-child {
        margin-left: 2px;
    }

    .js-heroscreen__infowrap form {
        margin-top: 30px;
    }
}