.mainwelcscreen {
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    padding-bottom: 110px;

    video {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &::after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
    }

    .container {
        position: relative;
        z-index: 3;
        padding-top: 100px;
    }

    .whitebtn {
        color: #2A2A2A;
    }

    h1 {
        font-weight: 600;
        font-size: 72px;
        line-height: 108px;
        color: #fff;
        margin: 0;
    }

    p {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        max-width: 592px;
        margin-bottom: 40px;
    }
}

.ratingsectionwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ratingsection {
    background: #F4F5F8;
    padding: 34px 0;

    .wasmitarbeiter__box p {
        margin-bottom: 12px;
    }

    .wasmitarbeiter__box p.descr {
        color: #79797C;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 0;
    }

    .wasmitarbeiter__box.lr {
        .rating {
            span {
                width: 56px;
            }

            .linerating {
                width: calc(100% - 56px);
                padding-left: 12px;

                span {
                    height: 7px;
                    width: 100%;
                    display: block;
                    background: #1C4B85;
                    border-radius: 12px;
                }
            }
        }
    }

    .wasmitarbeiter__box.tc {
        .topcomp {
            display: flex;
            align-items: center;

            img {
                flex: 0 0 auto;
                width: 73px;
            }

            p {
                margin: 0;
                padding-left: 6px;
            }
        }
    }

    .wasmitarbeiter__box {
        flex: 0 0 auto;

        &:nth-child(1) {
            width: 228px;
        }

        &:nth-child(2) {
            width: 273px;
        }

        &:nth-child(3) {
            width: 320px;
        }

        &:nth-child(4) {
            width: 259px;
        }
    }
}

.rersperf {
    .rersperf__topsect {
        position: relative;

        &>img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;
        }

        .rersperf__topsectdescr {
            position: relative;
            z-index: 2;
            background: rgba(28, 75, 133, 0.6);
            min-height: 730px;
            width: 47%;
            display: flex;
            align-items: center;
            padding-right: 30px;

            .secttitle {
                color: #fff;
                margin-bottom: 24px;
            }

            .subtitlesect {
                color: #fff;
                margin-bottom: 24px;

                &::after {
                    background: #fff;
                }
            }

            .descr {
                max-width: 390px;
                color: #fff;
                text-align: justify;
            }
        }
    }
}

.rersperf__botsect {
    padding: 33px 0 42px;
}

.rersperfbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    img {
        width: 36px;
        margin-bottom: 16px;
        vertical-align: top;
    }

    .title {
        color: #2A2A2A;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 4px;
    }

    .descr {
        margin-bottom: 12px;
        color: rgba(42, 42, 42, 0.6);
        font-size: 16px;
        line-height: 24px;
    }

    a {
        color: #1C4B85;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        img {
            width: 24px;
            margin: 0;
            vertical-align: middle;
            margin-top: -4px;
            transition: 0.3s;
        }

        &:hover {
            img {
                transform: translateX(10px);
            }
        }
    }
}

.profregr {
    background: #F4F5F8;
    padding: 112px 0 120px;

    .secttitle {
        color: #2A2A2A;
        margin-bottom: 24px;
    }

    .subtitlesect {
        margin-bottom: 24px;
    }

    .descr {
        color: rgba(42, 42, 42, 0.75);
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        margin: 0;
    }

    .imgwrap {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.expertize {
    display: flex;
    flex-wrap: nowrap;

    .expertize__descrblock {
        padding-top: 42px;
        padding-bottom: 25px;

        .secttitlesm {
            margin-bottom: 12px;
        }

        .subtitlesect {
            margin-bottom: 12px;
        }

        .descr {
            color: rgba(0, 0, 0, 0.6);
            max-width: 488px;
            font-size: 16px;
            line-height: 24px;
            text-align: justify;
            margin-bottom: 40px;
        }

        .col-lg-6 {
            margin-bottom: 48px;
        }
    }

    .expertize__box {
        flex: 0 0 auto;
        width: 50%;

        .imgwrap {
            height: 372px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .expertize__vac {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        p {
            margin: 0 0 4px 0;
            color: #2A2A2A;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            min-height: 80px;
        }

        a {
            color: #1C4B85;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;

            img {
                width: 24px;
                margin: 0;
                vertical-align: middle;
                margin-top: -4px;
                transition: 0.3s;
            }

            &:hover {
                img {
                    transform: translateX(10px);
                }
            }
        }
    }

    .bluebtn {
        width: 258px;
        max-width: 100%;
    }
}

.expertize__box {
    &:nth-child(2) {
        background: #F4F5F8;

        .expertize__descrblock {
            padding-left: 100px;
        }
    }
}

.referenzensect {
    padding: 110px 0;
    position: relative;
}

.referenzensect__slide {
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 36px 18px;

    .sltextwrap {
        padding: 36px 80px 0 85px;

        .title {
            margin-bottom: 32px;
            color: #2A2A2A;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }

        .descr {
            color: rgba(42, 42, 42, 0.6);
            font-size: 18px;
            line-height: 27px;
            position: relative;
            min-height: 175px;

            &::after,
            &::before {
                content: '';
                position: absolute;
                display: inline-block;
                width: 50px;
                height: 50px;
            }

            &::after {
                background: url('../img/q1.png') no-repeat center / 100%;
                left: -75px;
                top: -40px;
            }

            &::before {
                background: url('../img/q2.png') no-repeat center / 100%;
                right: -75px;
                bottom: 0;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.referenzensect__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .secttitle {
        color: #fff;
        margin-bottom: 24px;
    }

    .subtitlesect {
        color: #fff;
        margin-bottom: 24px;

        &::after {
            background: #fff;
        }
    }

    .descr {
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
        max-width: 365px;
    }
}

.referenzensect {
    .slarrws {
        position: relative;
        text-align: right;
        padding-right: 50px;

        .swiper-button-next,
        .swiper-button-prev {
            position: relative;
            width: 72px;
            height: 72px;
            background-color: #fff;
            border-radius: 4px;
            display: inline-block;
            right: initial;
            left: initial;
            top: initial;
            bottom: initial;
            margin: 0;
            vertical-align: top;
            background-repeat: no-repeat;
            background-position: center;

            &::after {
                display: none;
            }
        }

        .swiper-button-next {
            background-image: url('../img/slarrright-blue.svg');
        }

        .swiper-button-prev {
            background-image: url('../img/slarrleft-blue.svg');
            margin-right: 48px;
        }


    }
}

.dotswavebg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 387px;
    object-fit: cover;
    object-position: 0 0;
}

.googlereviews {
    padding: 32px 0 36px;
    background: #F4F5F8;

    .googlereviews__head {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .googlereviews__title {
            flex: 0 0 auto;
            width: calc(100% - 196px);
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #2A2A2A;
            margin: 0;
        }

        .googlereviews__arrws {
            flex: 0 0 auto;
            width: 196px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .swiper-button-next,
            .swiper-button-prev {
                position: relative;
                top: initial;
                left: initial;
                right: initial;
                width: 72px;
                height: 72px;
                background-color: #1C4B85;
                border: 1px solid #1C4B85;
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                margin: 0;

                &::after {
                    display: none;
                }
            }

            .swiper-button-next {
                background-image: url(../img/slarrright.svg);
            }

            .swiper-button-prev {
                background-image: url(../img/slarrleft.svg);
            }


            .swiper-button-next.swiper-button-disabled,
            .swiper-button-prev.swiper-button-disabled {
                border: 1px solid #D5DAE1;
                background-color: rgba(255, 255, 255, 0.5);
                opacity: 1;
            }

            .swiper-button-prev.swiper-button-disabled {
                background-image: url(../img/slarrleft-dis.svg);
            }

            .swiper-button-next.swiper-button-disabled {
                background-image: url(../img/slarrright-dis.svg);
            }

        }
    }

    .swiper {
        overflow: visible;
    }
}

.googlereview {
    background: #FFFFFF;
    border: 1px solid #EFEFF0;
    padding: 16px;
    cursor: pointer;

    .googlereview__header {
        display: flex;
        align-items: center;

        .googlereview__ava {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            text-transform: uppercase;
        }

        .googlereview__person {
            padding-left: 16px;

            .name {
                margin: 0;
                color: #2A2A2A;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            .date {
                margin: 0;
                color: #999999;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .googlereview__descr {
        padding-left: 66px;
        color: rgba(42, 42, 42, 0.6);
        font-size: 12px;
        line-height: 18px;

        .stars {
            display: inline;

            img {
                width: 24px;
                margin-left: -4px;
                vertical-align: bottom;
            }
        }

        span {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 90px;
        }
    }

}

.googlereviews__body {
    .text-center {
        margin-top: 24px;

        a {
            img {
                margin-left: 10px;
            }
        }
    }
}

// modal
.rewiewpopup {
    .popup__body {
        max-width: 634px;
        padding: 40px 40px 24px 40px;
    }

    .googlereview {
        border: none;
        padding: 0;
        cursor: inherit;

        .googlereview__descr {
            font-size: 16px;
            line-height: 160%;

            span {
                display: block;
                margin-bottom: 20px;
            }

            a {
                color: #1C4B85;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;

                img {
                    margin-left: 4px;
                    vertical-align: middle;
                    margin-top: -3px;
                    transition: 0.3s;
                }

                &:hover {
                    img {
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .popup__close {
        top: 16px;
        right: 16px;
    }

}

// ----

.geeignetemitarbeiter {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .geeignetemitarbeiter__left,
    .geeignetemitarbeiter__right {
        flex: 0 0 auto;
        width: 50%;
    }

    .imgwrap {
        height: 1024px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .textwrap {
        padding: 164px 0 0 120px;

        .secttitle {
            margin-bottom: 24px;
        }

        .subtitlesect {
            margin-bottom: 24px;
        }

        .descr {
            margin-bottom: 24px;
            color: #858585;

            p {
                text-align: justify;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }


    }

}

.bottinfo {

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    width: 100%;

    .bottinfo__left,
    .bottinfo__right {
        flex: 0 0 auto;
        width: 50%;
        position: relative;
        height: 268px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 65px;
        justify-content: space-between;

        .bottinfo__box {
            flex: 0 0 auto;
            // width: 50%;
            max-width: 227px;

            .count {
                margin-bottom: 12px;
                color: #fff;
                font-weight: 600;
                font-size: 52px;
                line-height: 78px;
            }

            .descr {
                margin: 0;
                color: #fff;
            }
        }
    }

    .bottinfo__right {
        background: linear-gradient(270deg, #1C4B85 0%, #124079 100%);
        padding-left: 120px;
    }

    .bottinfo__left {
        background: rgba(28, 75, 133, 0.75);
        padding-right: 120px;
    }
}

.werde__teams {
    padding: 80px 0 60px;
    background: #F4F5F8;

    .secttitle {
        margin-bottom: 24px;
    }

    .subtitlesect {
        max-width: 500px;
        margin-bottom: 24px;

        &::after {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .descr {
        max-width: 408px;
        color: #858585;
        text-align: justify;
        margin-bottom: 24px;
    }

    .werdeslider__arrws {
        flex: 0 0 auto;
        width: 196px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        .swiper-button-next,
        .swiper-button-prev {
            position: relative;
            top: initial;
            left: initial;
            right: initial;
            width: 72px;
            height: 72px;
            background-color: #1C4B85;
            border: 1px solid #1C4B85;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            margin: 0;

            &::after {
                display: none;
            }
        }

        .swiper-button-next {
            background-image: url(../img/slarrright.svg);
        }

        .swiper-button-prev {
            background-image: url(../img/slarrleft.svg);
        }


        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            border: 1px solid #D5DAE1;
            background-color: rgba(255, 255, 255, 0.5);
            opacity: 1;
        }

        .swiper-button-prev.swiper-button-disabled {
            background-image: url(../img/slarrleft-dis.svg);
        }

        .swiper-button-next.swiper-button-disabled {
            background-image: url(../img/slarrright-dis.svg);
        }

    }

    .futjobplace__slide {
        background: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        .futjobplace__slideimg {
            img {
                vertical-align: top;
            }
        }

        .futjobplace__slidedescr {
            padding: 16px 20px;

            .title {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 3px;
            }

            .descr {
                font-size: 14px;
                line-height: 21px;
                color: #7F7F7F;
                margin: 0;
            }
        }
    }

    .werdeslider {
        padding-bottom: 52px;
    }



}

.veranstaltungen {
    padding: 30px 0 40px;

    .secttitle,
    .subtitlesect {
        margin-bottom: 24px;
    }

    .descr {
        max-width: 590px;
        text-align: justify;
        color: #858585;
        margin-bottom: 32px;
    }

    .smallimg {
        height: 252px;
        position: relative;
        overflow: hidden;
        margin-bottom: 23px;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .bigimg {
        height: 527px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .text-right {
        .bluebtn {
            margin-top: 36px;
        }
    }

}

.socmedia {
    display: flex;
    flex-wrap: wrap;
    background: #F4F5F8;

    .socmedia__left {
        flex: 0 0 auto;
        width: 633px;
        min-height: 630px;

        img {
            width: 100%;
            vertical-align: top;
        }
    }

    .socmedia__right {
        flex: 0 0 auto;
        width: calc(100% - 633px);
        padding: 100px 0 55px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .secttitle,
        .subtitlesect {
            margin-bottom: 24px;
        }

        .descr {
            text-align: justify;
            color: #858585;

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .socmedia__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;


    }
}

.maincontsect {
    padding: 110px 0 40px;

    .secttitle {
        margin-bottom: 24px;
    }

    .maincontsect__descr {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                color: #858585;

                a {
                    color: #858585;
                    text-decoration: underline;
                }
            }
        }
    }

    .maincontsect__form {
        .inputfield {
            margin-bottom: 24px;
            flex-wrap: wrap;

            .errormess {
                display: none;
            }

            &.error {
                input:not(.bluebtn) {
                    border: 1px solid #FF7878;
                    color: #E45959;
                    display: block;
                }

                .errormess {
                    display: block;
                    margin: 4px 0 0 0;
                    color: #E45959;
                    font-size: 10px;
                    line-height: 15px;
                }
            }
        }

        input:not(.bluebtn) {
            width: 100%;
            height: 46px;
            background: #F4F5F8;
            border: 1px solid #DBDBDB;
            border-radius: 1px;
            padding-left: 17px;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            color: #858585;
            transition: 0.3s;

            &::placeholder {
                color: #858585;
            }

            &:focus {
                color: #2A2A2A;
                border: 1px solid #A5A6AD;

                &::placeholder {
                    color: #2A2A2A;
                }
            }
        }

        textarea {
            width: 100%;
            background: #F4F5F8;
            border: 1px solid #DBDBDB;
            border-radius: 1px;
            height: 137px;
            resize: none;
            padding: 10px 17px;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            color: #858585;
            outline: none;
            transition: 0.3s;

            &::placeholder {
                color: #858585;
            }

            &:focus {
                color: #2A2A2A;
                border: 1px solid #A5A6AD;

                &::placeholder {
                    color: #2A2A2A;
                }
            }
        }

        .textinfo {
            margin-bottom: 32px;

            p {
                color: #858585;
                text-align: justify;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: #15437C;
            }
        }

        .bluebtn {
            width: 150px;
        }
    }
}

.mainwelcscreen {
    min-height: 500px;
}

.profregr .imgwrap img {
    max-width: 100%;
}

.futjobplace__slideimg {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.googlereviews {
    overflow: hidden;
}

.ratingsection {
    overflow: hidden;

    .swiper {
        overflow: visible;
    }

    .wasmitarbeiter__box {
        display: inline-block;
    }

    .swiper-slide {
        width: auto;

        .wasmitarbeiter__box {
            width: 228px;
        }

        &:nth-child(2) {
            .wasmitarbeiter__box {
                width: 273px;
            }
        }

        &:nth-child(3) {
            .wasmitarbeiter__box {
                width: 320px;
            }
        }

        &:nth-child(4) {
            .wasmitarbeiter__box {
                width: 259px;
            }
        }
    }
}

.socmedia__list.socmedia__list-tablet,
.slarrws.mob {
    display: none;
}

.werde__teams {
    overflow: hidden;

    .swiper {
        overflow: visible;
    }
}

@media(max-width:1300.8px) {

    .socmedia .socmedia__right .descr {
        margin-bottom: 20px;
    }

    .socmedia .socmedia__left {
        .imgwrap {
            height: 100%;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }

}

@media(max-width:1199.8px) {
    .mainwelcscreen h1 {
        font-size: 46px;
        line-height: 58px;
        margin-bottom: 20px;
    }

    .mainwelcscreen p {
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 30px;
    }

    .rersperf .rersperf__topsect .rersperf__topsectdescr {
        min-height: 600px;
    }

    .expertize__box:nth-child(2) .expertize__descrblock {
        padding-left: 60px;
    }

    .expertize__box:nth-child(1) .expertize__descrblock {
        padding-right: 20px;
    }

    .referenzensect__slide .sltextwrap .descr {
        font-size: 16px;
        line-height: 24px;
    }

    .referenzensect__slide .sltextwrap {
        padding: 30px 60px 0 60px;
    }

    .referenzensect__slide .sltextwrap .descr:after {
        left: -60px;
    }

    .referenzensect__slide .sltextwrap .descr:before {
        right: -60px;
    }

    .geeignetemitarbeiter .imgwrap {
        height: 800px;
    }

    .bottinfo .bottinfo__right {
        padding-left: 40px;
    }

    .bottinfo .bottinfo__left {
        padding-right: 40px;
    }

    .bottinfo .bottinfo__left,
    .bottinfo .bottinfo__right {
        height: 200px;
        padding-top: 30px;
    }

    .geeignetemitarbeiter .textwrap {
        padding: 100px 0 0 100px;
    }

    .socmedia .socmedia__left,
    .socmedia .socmedia__right {
        width: 50%;
    }

    .socmedia .socmedia__right {
        padding-left: 50px;
    }




    .expertize .expertize__vac p,
    .expertize .expertize__vac a {
        font-size: 16px;
        line-height: 160%;
    }

    .profregr {
        padding: 80px 0;
    }
}

@media(max-width:991.8px) {

    .mainwelcscreen {
        min-height: initial;
        height: 475px;
    }

    .rersperf .rersperf__topsect .rersperf__topsectdescr {
        min-height: 460px;
    }

    .rersperf .rersperf__topsect .rersperf__topsectdescr .secttitle {
        margin-bottom: 16px;
        font-size: 38px;
        line-height: 57px;
    }

    .rersperf {
        .subtitlesect:after {
            width: 66px;
            top: 50%;
            transform: translateY(-50%);
        }

        .subtitlesect {
            padding-left: 78px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .rersperf .rersperf__topsect .rersperf__topsectdescr {
        width: 48%;
    }

    .rersperf__botsect .col-md-6 {
        margin-bottom: 44px;

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }
    }

    .profregr .imgwrap img {
        max-width: 600px;
        margin-bottom: 40px;
    }

    .profregr .secttitle {
        margin-bottom: 16px;
    }

    .profregr .descr {
        max-width: 580px;
    }

    .profregr {
        padding-bottom: 40px;
    }

    .expertize {
        flex-wrap: wrap;

        .expertize__box {
            width: 100%;
        }
    }

    .expertize .expertize__vac p {
        min-height: initial;
    }

    .expertize .expertize__descrblock {
        padding-bottom: 40px;
    }

    .referenzensect__left .slarrws {
        padding-right: 0;
        text-align: left;
    }

    .referenzensect .textwrap {
        margin-bottom: 45px;
    }

    .referenzensect__left .slarrws {
        margin-bottom: 40px;
    }

    .referenzensect__left .secttitle {
        margin-bottom: 12px;
    }

    .referenzensect__left .subtitlesect {
        margin-bottom: 12px;
    }

    .referenzensect {
        padding: 35px 0 60px;
    }

    .dotswavebg {
        display: none;
    }

    .referenzensect__slide .sltextwrap {
        padding-top: 0;
    }

    .referenzensect__slide .sltextwrap .title {
        margin-bottom: 18px;
    }

    .referenzensect__slide .sltextwrap .descr {
        min-height: 150px;
    }

    .geeignetemitarbeiter .geeignetemitarbeiter__left,
    .geeignetemitarbeiter .geeignetemitarbeiter__right {
        width: 100%;
    }

    .geeignetemitarbeiter__left {
        position: relative;
    }

    .bottinfo {
        flex-wrap: wrap;

        .bottinfo__left,
        .bottinfo__right {
            width: 100%;
            height: auto;
        }

        .bottinfo__left,
        .bottinfo__right {
            padding: 24px 40px !important;
            justify-content: flex-start;
            width: 100%;

            .bottinfo__box {
                width: 50%;
                max-width: initial;
            }
        }
    }

    .bottinfo .bottinfo__left .bottinfo__box .count,
    .bottinfo .bottinfo__right .bottinfo__box .count {
        margin-bottom: 4px;
    }

    .bottinfo__box .descr {
        font-size: 16px;
    }

    .bottinfo__box .descr {
        max-width: 200px;
    }

    .geeignetemitarbeiter .textwrap {
        padding: 24px 0 40px;
    }

    .expertize__descrblock {
        padding: 20px 15px 40px !important;
        max-width: 720px;
        margin: 0 auto;
        width: 100%;
    }


    .geeignetemitarbeiter .geeignetemitarbeiter__right {
        padding-right: 0 !important;

        .textwrap {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            max-width: 720px;
            width: 100%;
        }
    }

    .geeignetemitarbeiter .textwrap .descr {
        max-width: 490px;
    }

    .werde__teams {
        .secttitle {
            max-width: 408px;
            margin-bottom: 12px;
        }

        .subtitlesect {
            margin-bottom: 12px;
        }
    }

    .werde__teams .werdeslider {
        padding-bottom: 10px;
    }

    .veranstaltungen {
        .col-lg-4 {
            display: flex;
            justify-content: space-between;

            .imgwrap {
                width: calc(50% - 10px);

                img {
                    width: 100%;
                }
            }

        }
    }

    .veranstaltungen .bigimg {
        height: 443px;
    }

    .socmedia .socmedia__right {
        padding-left: 20px;
    }

    .socmedia .socmedia__right {
        .secttitle {
            margin-bottom: 12px;
        }

        .subtitlesect {
            padding-left: 78px;

            &:after {
                width: 66px;
            }
        }
    }

    .veranstaltungen .secttitle,
    .veranstaltungen .subtitlesect {
        margin-bottom: 12px;
    }

    .veranstaltungen .descr {
        max-width: 408px;
    }

    .socmedia .socmedia__right .subtitlesect {
        margin-bottom: 12px;
    }

    .socmedia .socmedia__list {
        display: none;
    }

    .socmedia .socmedia__left {
        min-height: 362px;
    }

    .socmedia .socmedia__right .descr {
        margin-bottom: 0;
    }

    .socmedia__list.socmedia__list-tablet {
        display: flex;
        max-width: 720px;
        width: 100%;
        margin: 28px auto 0;
    }

    .socmedia {
        padding-bottom: 40px;
    }

    .maincontsect {
        padding: 40px 0 40px;
    }

    .maincontsect .secttitle {
        margin-bottom: 12px;
    }

    .maincontsect .maincontsect__descr ul {
        margin-bottom: 40px;
    }

    .maincontsect__form {
        max-width: 492px;
    }







    .socmedia .subtitlesect,
    .profregr .subtitlesect,
    .expertize .expertize__descrblock .subtitlesect,
    .referenzensect__left .subtitlesect,
    .geeignetemitarbeiter .textwrap .subtitlesect,
    .werde__teams .subtitlesect,
    .veranstaltungen .subtitlesect {
        font-size: 16px;
        padding-left: 78px;

        &::after {
            width: 66px;
        }
    }

    .rersperfbox .descr,
    .profregr .descr,
    .expertize .expertize__descrblock .descr,
    .referenzensect__slide .sltextwrap .descr {
        font-size: 14px;
    }

    .werde__teams {
        padding: 40px 0;
    }

    .googlereviews .googlereviews__head .googlereviews__arrws {
        display: none;
    }

}

@media(max-width:767.8px) {
    .profregr .imgwrap img {
        max-width: 100%;
    }

    .rersperf .rersperf__topsect .rersperf__topsectdescr {
        width: 100%;
    }

    .werde__teams {
        overflow: hidden;
    }

    .werdesliderwrap .swiper {
        overflow: visible;
    }

    .expertize__descrblock,
    .geeignetemitarbeiter .geeignetemitarbeiter__right .textwrap,
    .socmedia__list.socmedia__list-tablet {
        max-width: 540px;
    }
}

@media(max-width:575.8px) {
    .mainwelcscreen {
        height: 100vh;
        min-height: 475px;
    }

    .mainwelcscreen h1 {
        font-size: 35px;
        line-height: 52px;
        margin-bottom: 0;
    }

    .mainwelcscreen p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .rersperf__topsectdescr {
        padding: 180px 20px !important;
    }

    .rersperf__botsect {
        padding: 80px 0 20px;
    }

    .rersperfbox a {
        font-size: 14px;
        line-height: 21px;
    }

    .rersperfbox a img {
        margin-top: -2px;
    }

    .rersperf__botsect .col-md-6,
    .rersperf__botsect .col-md-6:nth-child(3) {
        margin-bottom: 40px;
    }

    .profregr {
        padding: 60px 0;
    }

    .expertize .expertize__box .imgwrap {
        height: 200px;
    }

    .expertize__descrblock {
        padding: 20px 20px 40px !important;
    }

    .expertize .expertize__descrblock .descr {
        margin-bottom: 32px;
    }

    .expertize .expertize__vac a {
        font-size: 14px;

        img {
            width: 20px;
            margin-top: -2px;
        }
    }

    .expertize .expertize__descrblock .col-lg-6 {
        margin-bottom: 32px;
    }

    .expertize__box {
        padding-top: 60px;
    }

    .referenzensect {
        padding: 80px 0 20px;
    }

    .referenzensect__left .secttitle {
        font-size: 26px;
        line-height: 39px;
    }

    .referenzensect .textwrap {
        margin-bottom: 24px;
    }

    .slarrws.mob {
        display: block;
    }

    .referenzensect__left .slarrws {
        display: none;
    }

    .referenzensect__slide {
        padding: 24px 20px 92px 20px;

        .sltextwrap {
            padding: 0;

            .title {
                max-width: 190px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .referenzensect__slide .sltextwrap .descr:before {
        right: 0;
        top: -70px;
    }

    .referenzensect__slide .sltextwrap .descr {
        min-height: initial;
    }

    .referenzensect__slide .sltextwrap .descr:after {
        left: 0;
        bottom: -70px;
        top: initial;
    }

    .slarrws.mob {
        padding-right: 0;
        text-align: center;
        margin-top: 24px;
    }

    .referenzensect .slarrws .swiper-button-next,
    .referenzensect .slarrws .swiper-button-prev {
        width: 50px;
        height: 50px;
    }

    .referenzensect .slarrws .swiper-button-prev {
        margin-right: 40px;
    }

    .googlereviews .googlereviews__head .googlereviews__title {
        width: calc(100% - 140px);
        padding-right: 15px;
    }

    .googlereviews .googlereviews__head .googlereviews__arrws {
        display: flex;
        width: 140px;
    }

    .googlereviews .googlereviews__head .googlereviews__arrws .swiper-button-next,
    .googlereviews .googlereviews__head .googlereviews__arrws .swiper-button-prev {
        width: 50px;
        height: 50px;
    }

    .googlereviews .googlereviews__head {
        align-items: center;
    }

    .googlereviews {
        padding: 80px 0 20px;
    }

    .geeignetemitarbeiter .imgwrap {
        height: 500px;
        object-position: 0 50%;
    }

    .bottinfo .bottinfo__left .bottinfo__box .count,
    .bottinfo .bottinfo__right .bottinfo__box .count {
        font-size: 32px;
        line-height: 48px;
    }

    .bottinfo__box .descr {
        font-size: 14px;
        line-height: 21px;
    }

    .bottinfo .bottinfo__left,
    .bottinfo .bottinfo__right {
        padding: 20px !important;
    }

    .bottinfo .bottinfo__left .bottinfo__box .descr,
    .bottinfo .bottinfo__right .bottinfo__box .descr {
        max-width: 140px;

        br {
            display: none;
        }
    }

    .geeignetemitarbeiter .imgwrap img {
        height: calc(100% - 130px);
    }

    .geeignetemitarbeiter .textwrap {
        padding: 28px 0 20px;
    }

    .werde__teams .werdeslider__arrws .swiper-button-next,
    .werde__teams .werdeslider__arrws .swiper-button-prev {
        width: 50px;
        height: 50px;
    }

    .werde__teams .werdeslider__arrws {
        max-width: 140px;
    }

    .werde__teams .werdeslider {
        padding-bottom: 0;
    }

    .werde__teams .text-right,
    .veranstaltungen .text-right {
        text-align: center;
    }

    .veranstaltungen .col-lg-4 {
        flex-wrap: wrap;

        .imgwrap {
            width: 100%;
        }
    }

    .veranstaltungen .smallimg,
    .veranstaltungen .smallimg:last-child {
        margin-bottom: 20px;
    }

    .veranstaltungen .smallimg,
    .veranstaltungen .bigimg {
        height: 240px;
    }

    .veranstaltungen {
        padding: 80px 0;
    }

    .socmedia .socmedia__left,
    .socmedia .socmedia__right {
        width: 100%;
    }

    .socmedia .socmedia__left .imgwrap {
        height: auto;
    }

    .socmedia .socmedia__right {
        padding-top: 24px;
        padding-bottom: 36px;
    }

    .slarrws.mob,
    .socmedia__list.socmedia__list-tablet {
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;

        li {
            margin: 0 20px 20px;
        }
    }

    .socmedia {
        padding-bottom: 20px;
    }











    .werde__teams,
    .maincontsect {
        padding: 80px 0 20px;
    }

    .rersperfbox .title {
        font-size: 16px;
        line-height: 24px;
    }

    .rersperf .rersperf__topsect>img {
        object-position: 0 0;
    }

    .rersperf .subtitlesect,
    .expertize .expertize__descrblock .subtitlesect,
    .geeignetemitarbeiter .textwrap .subtitlesect,
    .profregr .subtitlesect,
    .referenzensect__left .subtitlesect,
    .socmedia .subtitlesect,
    .veranstaltungen .subtitlesect,
    .werde__teams .subtitlesect {
        font-size: 18px;
        padding-left: 64px;

        &::after {
            width: 52px;
        }
    }

    .rersperf .rersperf__topsect .rersperf__topsectdescr .secttitle,
    .rersperf .rersperf__topsect .rersperf__topsectdescr .subtitlesect,
    .profregr .secttitle,
    .profregr .subtitlesect,
    .geeignetemitarbeiter .textwrap .secttitle,
    .geeignetemitarbeiter .textwrap .subtitlesect {

        margin-bottom: 12px;
    }

    .ratingsection {
        padding: 22px 0;
    }
}