.guidelinesforcv {
    padding: 100px 0 154px;
    background: #F4F5F8;
}

.guidelinesforcv__descr {
    .secttitlesm {
        margin-bottom: 16px;
    }

    p {
        max-width: 490px;
        color: rgba(42, 42, 42, 0.75);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.swiper-vertical {
    height: 100%;
}

.guidelinesforcv__sliderthumb {
    height: 287px;

    .swiper-slide {
        margin-bottom: 0 !important;
        transition: 0.3s;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 35px;
            width: 1px;
            height: 0;
            background: #D4DCE7;
            transition: 0.3s;
        }

        &.swiper-slide-thumb-active {
            height: 100px !important;

            &::after {
                height: 52px;
            }

            p {
                color: #1C4B85;
                cursor: pointer;




                span {
                    color: #1C4B85;
                    font-size: 18px;
                }
            }
        }
    }

    p {
        margin: 0;
        color: #8D96A2;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        position: relative;
        cursor: pointer;

        span {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #8D96A1;
            vertical-align: middle;
            width: 32px;
            display: inline-block;
        }
    }
}

.guidelinesforcv__slider {
    overflow: visible;
}

.guidelinesforcv__slide {
    padding: 40px 40px 20px 40px;
    background: #fff;
}

.guidelinesforcv__img {
    height: 192px;
    text-align: center;
    margin-bottom: 27px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.guidelinesforcv__descr {
    .title {
        color: #2A2A2A;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 8px;
    }

    .descr {
        margin: 0;
        color: rgba(42, 42, 42, 0.75);
        text-align: justify;
        max-width: 100%;

    }
}

.countslide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    color: #1C4B85;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.guidelinesforcv__sliderwrap {
    margin-top: 32px;
    position: relative;
}

.tipsslarrows {

    .swiper-button-next,
    .swiper-button-prev {
        top: -80px;
        width: 72px;
        height: 72px;
        background-color: #1C4B85;
        border: 1px solid #1C4B85;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s;

        &:hover {
            background-color: #113867;
        }

        &::after {
            display: none;
        }

        &.swiper-button-disabled {
            border: 1px solid #D5DAE1;
            background-color: rgba(255, 255, 255, 0.5);
            opacity: 1;
        }
    }

    .swiper-button-prev {
        background-image: url('../img/slarrleft.svg');
        left: 0;

        &.swiper-button-disabled {
            background-image: url('../img/slarrleft-dis.svg');
        }
    }

    .swiper-button-next {
        background-image: url('../img/slarrright.svg');
        left: 124px;

        &.swiper-button-disabled {
            background-image: url('../img/slarrright-dis.svg');
        }
    }
}

.dp-question.dp-question__tips {
    .dp-question__inner p {
        max-width: 490px;
    }
}

.guidelinesforcv,
.futjobplace,
.ap-form {
    overflow: hidden;
}

@media(max-width:1300.8px) {
    .guidelinesforcv {
        padding: 80px 0;
    }
}

@media(max-width:1199.8px) {
    .guidelinesforcv__sliderwrap {
        margin-top: 70px;
    }

    .tipsslarrows .swiper-button-next,
    .tipsslarrows .swiper-button-prev {
        width: 60px;
        height: 60px;
        top: -60px;
    }

    .guidelinesforcv__sliderwrap {
        margin-top: 60px;
    }

    .guidelinesforcv__slide {
        padding: 20px;
    }

    .guidelinesforcv__descr .title {
        font-size: 18px;
        line-height: 160%;
    }

    .guidelinesforcv__descr .descr {
        font-size: 14px;
        text-align: left;
        min-height: 72px;
    }



}

@media(max-width:991.8px) {

    .guidelinesforcv {
        padding: 40px 0;
    }

    .guidelinesforcv__descr .secttitlesm {
        margin-bottom: 12px;
    }

    .guidelinesforcv__descr {
        margin-bottom: 30px;
    }

    .guidelinesforcv__sliderthumb .swiper-slide.swiper-slide-thumb-active:after {
        display: none;
    }

    .guidelinesforcv__sliderthumb .swiper-slide.swiper-slide-thumb-active {
        height: auto !important;
    }

    .guidelinesforcv__sliderthumb p {
        font-size: 16px;
    }

    .tipsslarrows .swiper-button-next {
        left: 90px;
    }

    .guidelinesforcv__slide .guidelinesforcv__descr {
        margin-bottom: 0;
    }

    .secttitlesm {
        font-size: 36px;
        line-height: 54px;
    }




}

@media(max-width:767.8px) {

    .guidelinesforcv__sliderthumb {
        display: none;
    }

    .tipsslarrows .swiper-button-next,
    .tipsslarrows .swiper-button-prev {
        top: -50px;
    }

    .dp-question.dp-question__tips {
        .dp-question__inner {
            width: 100%;
            padding: 40px;
        }
    }

    .welcomesect__info .welcomesect__infowrap .linetext br {
        display: none;
    }

    .dp-question__inner h3 {
        font-size: 36px;
        line-height: 54px;
    }






}

@media(max-width:575.8px) {

    .guidelinesforcv__descr .descr {
        min-height: initial;
    }

    .guidelinesforcv__img {
        height: auto;
    }

    .dp-question.dp-question__tips .dp-question__inner {
        padding: 40px 20px;
    }


    .dp-question.dp-question__tips .dp-question__inner p {
        font-size: 14px;
    }

    .tipsslarrows .swiper-button-next,
    .tipsslarrows .swiper-button-prev {
        width: 50px;
        height: 50px;
        top: -40px;
    }

    .tipsslarrows .swiper-button-next {
        left: 70px;
    }
}












.js-result__item-bottom a+a {
    img {
        transition: 0.3s;
    }

    &:hover {
        img {
            transform: translateX(5px);
        }
    }
}

.update-btn a {
    transition: 0.3s;

    &:hover {
        border: 1.5px solid #5189CF;
    }
}

.ap-form .inputblock .inputfield input,
.ap-form .inputblock .inputfield textarea {
    transition: 0.3s;

    &:focus {
        border: 1px solid #8FA1BD;
    }
}

.select2-container--open {
    .select2-selection.select2-selection--single {
        border: 1px solid #8FA1BD;
    }
}

.dp-information__buttons .whitebtn {
    &:hover {
        color: #fff;
        background: rgb(28, 75, 133);
        border-color: rgb(28, 75, 133);
    }
}

.dp-slider__item-bottom a {
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.dp-slider__item-bottom a+a {
    img {
        transition: 0.3s;
    }

    &:hover {
        img {
            transform: translateX(5px);
        }
    }
}




@media(max-width:767.8px) {
    .dp-question__inner h3 {
        width: 100%;
    }

    .dp-question__inner p {
        text-align: left;
    }

    .dp-question__inner a {
        margin: 0;
        width: 200px;
    }
}

@media(max-width:575.8px) {
    .inputfield.confirmation label {
        align-items: flex-start;
    }

}